li {
  list-style-type: none;
}

.characterList {
  display: flex;
  flex-wrap: wrap;
}

.characterImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.list {
  margin: 10px;
  border: 2px solid black;
  background-color: var(--gunmetal);
}
